body {
    min-height: 2000px;
    padding-top: 70px;
}

.fixed-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* body container */
.jumbotron {
    background-color: transparent;
}

/* navigation bar */
.navbar-default {
    background-color: turquoise;
    border-color: #e7e7e7;
}

/* home button in navigation bar */
.navbar-default .navbar-brand {
    color: purple;
}

/* other buttons in navigation bar */
.navbar-default .navbar-nav > li > a {
    color: #000000;
}

#canvas-container {
    width: 100%;
    text-align: center;
}

#locCanvas {
    border: 1px solid #000000;
    display: inline;
}

#layout-details {
    margin-top:10px;
    margin-bottom:10px;
}

#layout-details > p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin:0px;
}

#tagsdataTable, #nodesdataTable {
    font-size: 12px;
}

#tagsdataTable > tbody > tr > td, #tagsdataTable > tbody > tr > th {
    padding: 3px;
}

#nodesdataTable > tbody > tr > td, #nodesdataTable > tbody > tr > th {
    padding: 3px;
}