{% extends "BeaconManager/base_generic.html" %}
{% load staticfiles %}

{% block content %}

<h2>{{title}}</h2>

<div id="canvas-container">
    <canvas id="locCanvas" width="640" height="360">

    </canvas>
</div>

<div id="layout-details">
    <p>Layout's Name: {{selectedLayout}}</p>
    <p>Layout's Dimensions: {{layoutLength}} meter x  {{layoutWidth}} meter</p>
    <p>Layout's Scale: {{layoutScale}}</p>
</div>

<div class"container">
    <div class="row">
        <div class="col-xs-5">
            <div id="nodesdata" class="table-responsive">
                <table id="nodesdataTable" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Node Name</th>
                            <th scope="col">Node Location</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, val in reqData.items %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ key }}</td>
                            <td>{{ val }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-7">
            <div id="tagsdata" class="table-responsive">
                <table id="tagsdataTable" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tag Name</th>
                            <th scope="col">Tag Distance (m)</th>
                            <th scope="col">Sending Node</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
    IMG_LOC_NODE = "{% static 'BeaconManager/images/node.png' %}"
    IMG_LOC_TAG = "{% static 'BeaconManager/images/tag.png' %}"
    IMG_LOC_LAYOUT = "{{ MEDIA_URL }}{{layoutFile}}"
    LAYOUT_SCALE = {{layoutScale}}
</script>
<script type="text/javascript" src="{% static 'BeaconManager/scripts/locScripts.js' %}"></script>
{% endblock %}